{% extends 'template.html.twig' %}
{% block titre %}
    {{ firstName}} {{ name}}
{% endblock %}
{% block body %}
    <h1>with love from {{ firstName}} {{ name}}</h1>
    <p>Bonjour Labiadh</p>
    Mon url absolue est: {{ url('app_first') }}
{% endblock %}